body {
    background-color: #EFEFEF;
    font-family: 'Cairo', sans-serif;
    color: #00bfff;
    text-align: center;
}

/* My Site CSS */

.contanir {
    width: 50%;
    height: fit-content;
    margin: auto;
}
.box {
    display: block;
    height: fit-content;        
    margin: 30px 0px 30px 0px;
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 5px 5px 0px#5271FF;
    color: #5271FF;
}
.name {
    font-size: 2em;
}

.info .profile-pic {
    display: block;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: auto;
    border-radius: 50%;
}

.info p {
    margin: 0px;
}

.info .fa-facebook-square, .fa-twitter-square {
    font-size: 32px;
    color: #5271FF ;
    margin: 5px 3px 5px 2px;
}

.services .title {
    width: fit-content;
    background-color: white;
    border-radius: 3px;
    padding: 0px 5px 0px 5px;
    box-shadow: 5px 5px 0px#5271FF;
    text-align: left;
    color: #5271FF;
    font-weight: normal;
}

.services img {
    display: block;
    width: 100%;
    box-shadow: 5px 5px 0px#5271FF;
    border-radius: 3px;
}

.box .fa-heart {
    color: tomato;
}

